@font-face{
	font-family: Etna;
	src:url("etna.otf");
}
@font-face{
	font-family: Brandon Grotesque;
	src:url("Brandon.otf");
}
body{
	margin: 0px;
	padding: 0px;

}

.row{
	background-color: #ff6600;
	max-width: 90%;
	margin: 0 auto;
	min-height: 100%;
	opacity: 1;
}
.dp{
	width: 100%;
	height: 100%;
	padding-left: 30px;
	padding-top: 65%;
	padding-right: 30px;
}


.clippy{
	min-height: 100%;
    min-width: 100%;
    background: white 0% 0% no-repeat padding-box;
    clip-path: polygon(100% 0, 100% 40%, 40% 100%, 0 100%, 0 60%, 60% 0);
    z-index: 1;
    opacity: 0.2;
    position: absolute;
    left:0;
    margin: 0em;
    padding: 0;
}

#name, #email, #mobile, #cname{
	background-color: #ff6600;
	border-style: none;
	border-bottom: solid;
	border-radius: 0px;
	border-color: black;
	padding: 0px;
	font-family: Brandon Grotesque;
	font-size: 18px;
	z-index: 0;
	position: relative;
}
label{
	font-family: Etna;
	font-size: 24px;
	z-index: 0;
	position: relative;
}
.op{
	padding: 0px;
	font-family: Brandon Grotesque;
	background-color: #ff6600;
	border-style: none;
	border-bottom: solid;
	border-radius: 0px;
	border-color: black;
	font-size: 18px;
	z-index: 0;
	position: relative;
}
.register{
	background-color: white;
	color: #ff6600;
	border-radius: 42px;
	font-family: Etna;
	padding: 5px 100px;
	font-size: 30px;
	margin-top: 50px;
	z-index: 0;
	position: relative;
}
.clippy2{
	min-height: 100%;
    min-width: 100%;
    background: white 0% 0% no-repeat padding-box;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    z-index: 1;
    opacity: 0.2;
    position: absolute;
    left:0;
    top:0;
    margin: 0em;
    padding: 0;
}








 @media (max-width: 768px){
 	@font-face{
	font-family: Etna;
	src:url("etna.otf");
}
@font-face{
	font-family: Brandon Grotesque;
	src:url("Brandon.otf");
}
body{
	margin: 0px;
	padding: 0px;

}

.row{
	background-color: #ff6600;
	min-width: 100%;
	margin: 0 auto;
	min-height: 100%;
	opacity: 1;
}
.dp{
	width: 100%;
	height: 100%;
	padding-left: 30px;
	padding-top: 65%;
	padding-right: 30px;
}


.clippy{
	min-height: 100%;
    min-width: 100%;
    background: white 0% 0% no-repeat padding-box;
    clip-path: polygon(100% 0, 100% 40%, 40% 100%, 0 100%, 0 60%, 60% 0);
    z-index: 1;
    opacity: 0.2;
    position: absolute;
    left:0;
    margin: 0em;
    padding: 0;
}

#name, #email, #mobile, #cname{
	background-color: #ff6600;
	border-style: none;
	border-bottom: solid;
	border-radius: 0px;
	border-color: black;
	padding: 0px;
	font-family: Brandon Grotesque;
	font-size: 18px;
	z-index: 0;
	position: relative;
	width: 100%;
}
label{
	font-family: Etna;
	font-size: 24px;
	z-index: 0;
	position: relative;
	width: 100%;
}
.op{
	padding: 0px;
	font-family: Brandon Grotesque;
	background-color: #ff6600;
	border-style: none;
	border-bottom: solid;
	border-radius: 0px;
	border-color: black;
	font-size: 18px;
	z-index: 0;
	position: relative;
	width: 100%;

}
.register{
	background-color: white;
	color: #ff6600;
	border-radius: 42px;
	font-family: Etna;
	padding: 5px 5%;
	font-size: 30px;
	margin-top: 50px;
	z-index: 0;
	position: relative;
	width: 100%;
}
.clippy2{
	min-height: 100%;
    min-width: 100%;
    background: white 0% 0% no-repeat padding-box;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
    z-index: 1;
    opacity: 0.2;
    position: absolute;
    left:0;
    top:0;
    margin: 0em;
    padding: 0;
}
 }